
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("webbg.png");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 23px;
  font-size: 20px;
}


.logo{
  padding:6px;
  size: 14px;
}


.w3-jumbo,
.w3-xxlarge,
.w3-large {
   color: #443834; 
}


.w3-bar-item.w3-button {
  display: flex;
  align-items: center;
}

.w3-bar-item.w3-button ion-icon {
  font-size: 1.2em; /* Adjust the icon size relative to the text */
  margin-right: 5px; /* Optional: Adjust the spacing between the icon and the text */
}


